.signup{
    min-height: 62.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.Sign-b{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}