.don{
    padding: 0 5rem;
    margin: 2rem 0;
}
.b{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}


.card-d{
    margin: 1rem;
    box-shadow: 0px 2px 2px 0px #DDDDDDBF;
    background: #FFFFFF;
    width: 520px;
    height: 15.5rem;
    border-radius: 10px
}
.card-inner{
    display: flex;
    justify-content: space-between;
}
.doner-t{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.doner{
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}